.draggable {
  cursor: move;
  user-select: none;
}
.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}
.clone-list {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
}
.clone-table {
  border-collapse: collapse;
  border: none;
}
.clone-table th, .clone-table td {
  border: 1px solid #ccc;
  border-left: none;
  border-top: none;
  padding: 0.5rem;
}
.dragging {
  background: #fff;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  z-index: 999;
}

.o-draggable {
  cursor: move;
  user-select: none;
}
.o-placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}
.o-clone-list {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
}
.o-clone-table {
  border-collapse: collapse;
  border: none;
}
.o-clone-table th, .o-clone-table td {
  border: 1px solid #ccc;
  border-left: none;
  border-top: none;
  padding: 0.5rem;
}
.o-dragging {
  background: #fff;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  z-index: 999;
}